*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60%;
    width: 35%;
    margin:0 auto;
    border: 3px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-grande{
    width: 90%;
    height: 80px;
    margin-top: 20px;
    font-size: 2em;
}

.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.container-inputs input{
    margin-top:20px;
    height: 80px;
    width: 80px;
    font-size: 2em;
}

.container-buttons{
    width: 80%;
}

.container-buttons-modificacion{
    width: 100%;
}

.boton{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.7em;
}