*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(57,71,100,255);
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

input{
    text-align: center;
}

.container{
    height: 55%;
    width: 30%;
    margin:0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(36,44,67,255);
}

.display{
    width: 90%;
    height: 80px;
    margin-top: 20px;
    font-size: 2em;
    background-color: rgba(24,32,51,255);
    border: 0;
    color: #FFF;
    border-radius: 10px;
    text-align: end;
    padding-right: 20px;
    padding-top: 20px;
}

.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-inputs input{
    margin-top:20px;
    height: 80px;
    width: 80px;
    font-size: 2em;
    color: rgba(66,79,107,255);
    border-radius: 10px;
    border: 0;
}


.container-buttons-modificacion{
    width: 100%;
}

.boton{
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.7em;
    background-color: rgba(240,240,240,255);
    border: 0;
    border-radius: 10px;
    color: rgba(66,79,107,255);
    font-weight: 700;
}

.btn-ac{
    background-color: rgba(98,112,151,255);
    color: #FFF;
}

.btn-igual{
    background-color: rgba(209,63,48,255);
    color: #FFF;
}
